@using HomeWork1.Helper;
@model IEnumerable<HomeWork1.Models.MoneyBookViewModels>
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Money)
                </th>
            </tr>
            @{
                var index = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        @Html.DisplayCatrgoryColor(item.Category)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Money)
                    </td>
                </tr>
                index++;
            }

        </table>
        </div>
    </div>
